<h2>Adding New Music</h2>


<div class="row" style="justify-content: center;">
    <form>
        <div class="form-group">
            <label>Song Name</label>
            <input type="text" class="form-control" id="song" placeholder="Enter Song Name">
        </div>
        <div class="form-group">
            <label>Date Released :- &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="date" id="birthday" name="birthday">
        </div>
        <div class="form-group">
            <label>Artwork &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="file" id="birthday" name="birthday">
        </div>
        <div class="form-group">
            
            <div style="text-align: end;">
               
                <button type="submit" class="btn btn-primary">Add Artist</button>
            </div>
            <h4></h4>
            <label>Artist &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <select class="form-control selectpicker" id="select-country" data-live-search="true">
                <option data-tokens="select" selected>select</option>
                <option data-tokens="china">K.K</option>
                <option data-tokens="malayasia">Arman Mallik</option>
                <option data-tokens="singapore">Arijit Singh</option>
            </select>


        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

