input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    -webkit-appearance: listbox;
    text-align: end;
    padding: 0px 31px;
    font-size: larger;
}

* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('https://www.google.com/url?sa=i&url=http%3A%2F%2Ficonshow.me%2Fsearch-strong-icon&psig=AOvVaw0z_eeL52TmtnC5Nb9RrNx7&ust=1585407019552000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCOgcXzuugCFQAAAAAdAAAAABAT');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
  h2{
    padding: 6px 59px;

  }